.container{
    display: grid;
    text-align: center;
}

#process{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "apply join build succeed";
    grid-gap: 0.75em;
}


#overview{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "tier1 tier2 tier3";
    grid-gap: 0.75em;
    background-color: #F8F8F8;
}

.pro-overview{
    background-color: #BBBBBB;
    font-family: sans-serif;
    color: white;
    font-weight: 100;   
}

#projects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "tickybot sona-sarovar comment";
    grid-gap: 0.75em;
}